{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Καλως ήρθατε</span> στο Service Book</h1>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>


    </script>

{% endblock %}